body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
 
  background-color: #343841;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.chatbox{
  width: 80vw;
  background-color: #282c34;
  border: #1c1e24;
  height: 80vh;
  margin: 20px;
  display: flex;
  font-size: 15px;
}

.sidebar{
  width:  35%;
  border-right: 1px solid black;
}

.sidebar-header{
  height: 50px;
  padding: 5px;
}

.content{
  flex: 1 auto;
  
  display: flex;
  flex-direction: column;
  
}

.content-header{
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.content-body{
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: #121418;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
}

.content-body::-webkit-scrollbar {
  width: 2px;
}
 
.content-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.content-body::-webkit-scrollbar-thumb {
  background-color: rgb(59, 59, 59);
  outline: 1px solid rgb(38, 18, 87);
}



.content-body > .left{
  max-width: 50%;
  background-color: cadetblue;
  padding: 5px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  width: auto;
  margin-bottom: 25px;
}

.content-body > .right{
  max-width: 50%;
  background-color: rgb(117, 55, 233);
  padding: 5px;
  border-radius: 12px;
  align-self: flex-end;
  float: right;
  border-top-right-radius: 0px;
  width: auto;
  margin-bottom: 25px;
}


.content-footer{
  height: 50px;
  display: flex;
  align-items: center;
 
}

.content-footer > input{
  height:80%;
  padding:0px 10px;


}

.content-footer > input{
  flex: auto;
  border: 2px solid rgb(141, 4, 84);
  outline: none;
  font-size: 16px;
  color: #fff;
  background-color: #1a1b1f;
}

.content-footer > button{
  
  padding: 10px 16px;
  border: 2px solid rgb(177, 5, 125);
  border-left-width: 0px;
  background-color: rgb(177, 5, 105);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.content-footer > button:hover{

  border: 2px solid rgb(122, 20, 196);
  background-color: rgb(37, 3, 61);

}







.contact{
  border: 1px solid gray;
}

.contact > .title{
  font-size: 16px;
}

